.mychess-slide {
  flex-shrink: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  position: relative;
  overflow: hidden;
  background-color: #2B2B2B;
  color: #fff;
  margin: 0 auto;
}

.mychess-slide h2 {
  font: 36px/44px 'opensans-bold', sans-serif;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.robot-dialogue-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.robot-image {
  width: 80px;
  height: auto;
  margin-right: 10px;
}

.dialogue-box {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  border-radius: 5px;
  font-family: monospace;
  white-space: pre-wrap;
  color: #000;
}

.chessboard-container {
  display:flex;
  justify-content: center;
}

.chessboard-container > * {
  margin: 0 auto;
}

.caption {
  font-size: 14px;
  color: #A8A8A8;
  margin-top: 5px;
  text-align: center;
  font-style: italic;
}

.chess-caption {
  text-align: center;
  margin-top: 10px;
}

.arrow-pointer {
  font-size: 24px;
  color: #19b6ff;
  margin-bottom: 5px;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.chess-description {
  font-size: 16px;
  color: #fff;
  margin: 0;
  font-weight: bold;
}

.github-link {
  color: #19b6ff;
  text-decoration: underline;
  font-weight: bold;
}

.github-link:hover {
  color: #4db8ff;
  text-decoration: underline;
}

.mychess-slide p {
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  max-width: 600px;
  margin: 10px 0;
}

.mychess-slide a {
  color: #19b6ff;
  text-decoration: none;
}

.mychess-slide a:hover {
  text-decoration: underline;
}